<ngb-carousel class="slider" *ngIf="images">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img class="sliderImg" src="../../../assets/images/img1.webp" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<h3>Samsung Galaxy S20 serisi için One UI 5.1 yolda!</h3>
			<p>Samsung, 2020’de tanıtılan Galaxy S20, Galaxy S20+ ve Galaxy S20 Ultra için One UI 5.1 güncellemesini dahili olarak test etmeye başladı.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img class="sliderImg" src="../../../assets/images/img2.webp" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<h3>Bir devrin sonu! Windows 7 ve 8.1 desteği sonlanıyor</h3>
			<p>Windows 7 ve Windows 8.1 için destek sonlanıyor. Microsoft, iki eski işletim sistemi için güncelleme sunmayacak.</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img class="sliderImg" src="../../../assets/images/img3.webp" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<h3>Android 13 güncellemesi alan Samsung telefonlar</h3>
			<p>Android 13 güncellemesi konusunda en hızlı markalardan olan Samsung’un yazılım güncellemesi alan modellerini bir araya getirdik.</p>
		</div>
	</ng-template>
</ngb-carousel>

<!-- <app-pagination></app-pagination> -->